.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#site-title {
  margin-left: 60px;
}

.borderless td, .borderless th {
    border: none;
}